
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Adding new review --> 
<div class="col-md-4 card mb-4 mt-3 offset-md-4">
    <div class="card-body text-center">
        {% if user.is_authenticated %}
        <h3 class="text-decoration-underline">Add your review:</h3>
        <p>Posted as: {{ user.username }}</p>
        <form id="reviewForm" method="post" style="margin-top: 1.3em;" class="review_id reviewText">
            {{ review_form | crispy }}
            {% csrf_token %}
            <button id="submitButtonReview" type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave review</p>
        {% endif %}
    </div>
</div>


{% endblock content %}


{% block extras %}
<script src="{% static 'js/reviews.js' %}"></script>
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}
