{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid background-image">
    <div class="row">

        <div class="col-12 left">
            <div class="row mt-5 mb-5 text-white">
                <h2 class="welcome-text text-decoration-underline mt-4 mb-5">Welcome to my <br>Catch a Dog<i
                        class="fa-solid fa-dog" style="color: #2f15f4;"></i>
                    website!</h2><br>
                <h4 class="introduction text-center col-12 mt-3 col-md-6 col-lg-6">A website dedicated to therapy and
                    rehabilitation for animals. You can
                    read and
                    comment on others' reviews. On my website you can find all the necessary information but
                    if you stil have any questions, please contact me.If your dog or cat was my client and you want
                    to share your opinion with others, please you are welcome to do so
                    after logging in!<br>You can see all reviews below.</h4>

            </div>
        </div>
        <div class="col-12 mt-5">
            <!-- Reviews Column -->
            <div>
                {% for reviews in object_list %}
                <a href="{% url 'reviews_detail' reviews.id %}" class="reviews-link" aria-label="reviews-detail">
                    <div class="card mb-4 mx-5">
                        <div class="card-body text-center">
                            <h3 class="text-decoration-underline">{{reviews}}</h3><br>
                            <p class="px-lg-5 px-md-5">{{reviews.content | safe}}</p>
                            <span class="card-text text-muted h6">{{ reviews.created_on}}</span>
                        </div>
                    </div>
                </a>
            </div>
            {% if forloop.counter|divisibleby:3 %}{% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation m-0">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link"
                aria-label="takes-to-previous-page">&laquo; PREV</a>
        </li>
        {% endif %} {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="takes-to-next-page">NEXT
                &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}


{% endblock %}
{% block copyright %}
Copyright 2023 | Catch a dog
{% endblock %}