
/* about html */

.about-gallery {
    height: 200px;
    width: 200px;
}

/* contact on about html */

.contact-about {
    list-style-type: none;
    text-decoration: none;
    
}
.fa-instagram {
    color:  #ec22ac;
}

.contact-email {
    text-decoration: underline;
}

.contact-instagram, .contact-facebook {
    text-decoration: none;
    list-style-type: none;
}

/*  gallery*/

.gallery img {
    padding-top: 15px; 
margin-left: 15%;
}

.gallery-first {
    margin-right: 15%;
    
}

.gallery-second {
    margin-right: 15%;
}
  


