/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit&family=Lato:wght@300&family=Raleway:wght@300&family=Ubuntu&display=swap') */

body {
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: unset;
}

/* Navigation */

.navbar {
    background-color: rgb(12, 25, 214);
    width: 100%;
}

.navbar img {
    width: 60px;
    height: 60px; 
}

.nav-item a:hover {
    border-bottom: 1px solid white;
    text-decoration-color: black;
    font-weight: bold;
}
 
.nav-link {
    color: white;
    font-weight: bold;
}

.nav-link a:active {
    color: black;
}

.navbar-toggler {
    background-color: white;
}

/* introduction */

.introduction {
    width: 45%;
    margin-left: 10%;
}

.welcome-text {
    margin-left: 10%;
}


/* reviews_detail */

.background-image {
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    height: 100%;
}


/* about me page and image */

.image-about img {
    height: 300px;
    width: 350px;
}

.about-me {
    text-align: center;
}

/* contact on about me page */

.contact-about {
    list-style-type: none;
    text-decoration: none;
}

.fa-instagram {
    color: #ec22ac;
}

.contact-email {
    text-decoration: underline;
}

.contact-instagram,
.contact-facebook {
    text-decoration: none;
    list-style-type: none;
}

.contact-instagram a {
    color: #ec22ac;
}

.contact-facebook a {
    color: blue;
}

/* gallery */

.gallery img {
    padding-top: 20px;
    height: 300px;
    width: 300px;
}

/* footer */

.footer {
    background-color: rgb(12, 25, 214);
    width: 100%;
    bottom: 0;
    height: 12%;
}

.footer li {
    list-style-type: none;
    display: inline;
    padding-left: 10px;
}

.fa-youtube {
    color: white
}

.fa-instagram {
    color: white;
}

.fa-facebook {
    color: white;
}

.site-owner {
    padding-bottom: 10px;
    padding-top: 10px;
}

.social-icons {
    margin: 0;
    padding: 0;
}
 /* pagination */

 .pagination {
    margin-bottom: 5%;
 }

 /* buttons */

 .btn-signup {
    background-color: rgb(12, 25, 214);
    color: white;
 }

 .submit {
    background-color: rgb(12, 25, 214);
    color: white;
 }
 .signup-btn {
    background-color: rgb(12, 25, 214);
    color: white;
 }

.btn-edit {
    background-color: green;
    color: white;
}

.btn-delete {
    background-color: red;
    color: white;
}

.deleteReviewButtons {
    background-color: red;
}

.editReviewButtons {
    background-color: green;
}