<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>catha dog</title>
</head>
<body>

    <header>
      <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About me</a></li>
        </ul>
      </nav>

      {% block content %}
      {% endblock %}

    </header>


    <section>

    </section>



    <footer>

    </footer>
    
</body>
</html>