{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-12 text-center image-about">
            <img src="{% static 'images/about.foto.jpg' %}" alt="dog with owner">
        </div>
        <div class="col-12">
            <!-- Title  -->
            <h2>{{ about.title }}</h2>
            <!-- Content -->
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <div class="text-center fs-5 contact-about">
                <ul class="text-center"><strong>If you want to get more information about therapy or make an
                        appointment, please contact me
                        by:</strong></ul><br>
                <li class="text-center contact-email">email: justyna@gmail.com</li><br>
                <li class="text-center contact-facebook">
                    <a href="https://www.facebook.com/zlappsafizjo" target="_blank" rel="noopener"
                        aria-label="Visit-my-Facebook-page (opens in the new tab)">
                        <i class="fa-brands fa-facebook fa-lg"></i>Facebook</a>
                </li><br>
                <li class="text-center contact-instagram">
                    <a href="https://www.instagram.com/zlappsa/" target="_blank" rel="noopener"
                        aria-label="Visit-my-Instagram-page (opens in the new tab)"><i
                            class="fa-brands fa-instagram fa-lg"></i>Instagram</a>
                </li><br>
                </ul>
            </div>
            <!-- Updated on field -->
            <p class="text-center"><em>Updated on: 7.03.2024 {{ about.updated_on }}</em></p>
        </div>
    </div>
</div>

<!-- Gallery -->
<div class="container text-center">
    <div class="row text-center d-flex flex-row gallery">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <img src="{% static 'images/foto1.jpg' %}" alt="dog" class="about-gallery">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <img src="{% static 'images/foto2.jpg' %}" alt="dog 1" class="about-gallery">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <img src="{% static 'images/foto3.jpg' %}" alt="dog 2" class="about-gallery">
        </div>
    </div>
    <div class="row text-center d-flex flex-row gallery">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-lg-4">
            <img src="{% static 'images/foto4.jpg' %}" alt="dog 3" class="about-gallery">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <img src="{% static 'images/foto5.jpg' %}" alt="dog 4" class="about-gallery">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <img src="{% static 'images/foto6.jpg' %}" alt="dog 5" class="about-gallery">
        </div>
    </div>
</div>


{% endblock content %}