{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-12 text-center image-about mb-3">
            <img src="{% static 'images/about.foto.jpg' %}" alt="dog with owner">
        </div>
        <div class="col-12 mb-3">
            <!-- Title  -->
            <h2>{{ about.title }}</h2>
            <!-- Content -->
            {{ about.content | safe }}
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-6 mb-3 mb-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Indiba Animal 50 euro - <span class="text-danger">NEW</span></h5>
                    <p class="card-text text-center">INDIBA® technology stimulates the body's regenerative processes,
                        allowing for deep tissue treatment without invasiveness and pain for the animal. Indiba Animal
                        Health AH-100 is used for joint and muscle pain therapy. Supports rehabilitation after
                        fractures, tendon injuries, desmopathy, inflammation of the synovium or joint capsule. Ideal for
                        scar therapy, bringing relief by reducing pain, swelling and accelerating the healing process.
                        Increases the effects of manual therapy. Accelerates wound healing (including difficult-to-heal
                        wounds). Accelerates bone fusion after fractures.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Manual massage 40 euro</h5>
                    <p class="card-text text-center">Massage improves blood circulation, causes better oxygenation and
                        nourishment of tissues. Improves muscle efficiency and the rate of their regeneration. In
                        patients with neurological disorders, massage improves deep sensation by simulating nerve
                        conduction. Massage is always performed in a position that is safe for the dog, most often on
                        the ground, providing the dog with a comfortable position on a soft surface. It is important
                        that the massage is performed in a quiet environment, without distractions for the animal. The
                        owner should be present during the massage to provide the dog with maximum psychological
                        comfort.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Fitness 40 euro</h5>
                    <p class="card-text text-center">Its aim is to improve the dog's fitness and motor coordination, as
                        well as work on specific elements such as speed, jumping or agility. By using various equipment
                        such as platforms, cubes, hedgehogs, balls, we are able to influence the movement of specific
                        dog muscles and strengthen them. It is also an excellent activity for anxious and insecure dogs.
                        Fitness exercises prevent minor injuries and contusions during play, and also help reduce muscle
                        tension and overload caused by pulling on a leash or poorly fitted harnesses.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Taping 30 euro</h5>
                    <p class="card-text text-center">Animal taping is a procedure that effectively reduces pain, reduces
                        inflammation, maintains full range of motion, eliminates lymphatic congestion and swelling,
                        relieves muscles, improves blood and lymph circulation, and corrects the positioning of fascia
                        and skin. Due to its effect, veterinary kinesiotaping is recommended primarily after injuries
                        such as sprains, twists, bruises, or muscle injuries, in degenerative changes and in painful
                        conditions, e.g. muscles or joints.</p>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col text-right">
            <div class="text-center fs-5 ">
                <p><strong>If you want to get more information about therapy or make an appointment, please contact me
                        by:</strong></p>
                <ul class="text-center contact-about">
                    <li class="text-center contact-email">email: justyna@gmail.com</li>
                    <li class="text-center contact-facebook">
                        <a href="https://www.facebook.com/zlappsafizjo" target="_blank" rel="noopener"
                            aria-label="Visit-my-Facebook-page (opens in the new tab)">
                            <i class="fa-brands fa-facebook fa-lg"></i>Facebook</a>
                    </li>
                    <li class="text-center contact-instagram">
                        <a href="https://www.instagram.com/zlappsa/" target="_blank" rel="noopener"
                            aria-label="Visit-my-Instagram-page (opens in the new tab)"><i
                                class="fa-brands fa-instagram fa-lg"></i>Instagram</a>
                    </li>
                </ul>
            </div>
            <!-- Updated on field -->
            <p class="text-center"><em>Updated on: 7.03.2024 {{ about.updated_on }}</em></p>
        </div>
    </div>
</div>

<!-- Gallery -->
<div class="container text-center mb-3">
    <div class="row text-center d-flex flex-row gallery">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <img src="{% static 'images/foto1.jpg' %}" alt="dog" class="about-gallery">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <img src="{% static 'images/foto2.jpg' %}" alt="dog 1" class="about-gallery">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <img src="{% static 'images/foto3.jpg' %}" alt="dog 2" class="about-gallery">
        </div>
    </div>
    <div class="row text-center d-flex flex-row gallery">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-lg-4">
            <img src="{% static 'images/foto4.jpg' %}" alt="dog 3" class="about-gallery">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <img src="{% static 'images/foto5.jpg' %}" alt="dog 4" class="about-gallery">
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
            <img src="{% static 'images/foto6.jpg' %}" alt="dog 5" class="about-gallery">
        </div>
    </div>
</div>


{% endblock content %}