/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit&family=Lato:wght@300&family=Raleway:wght@300&family=Ubuntu&display=swap') */

body {
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: unset;
}

/* Navigation */

.navbar {
    background-color: rgb(12, 25, 214);
    width: 100%;
}

.nav-item a:hover {
    border-bottom: 1px solid white;
    text-decoration-color: black;
}

.nav-link {
    color: white;
}

.nav-link:active {
    color: black;
}

.navbar-toggler {
    background-color: white;
}

/* reviews - home page */

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* reviews_detail */

.background-image img {
    
    width: 600px;
    height: 75%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 45%;
}

.fa-heart-like {
    color: red;
}

.fa-heart-unlike {
    color: black;
}

.btn-like {
    border: none;
    text-decoration: none;
    background-color: white;
}

/* about me page and image */

.image-about img {
    height: 300px;
    width: 350px;
}

.about-me {
    text-align: center;
}

/* contact on about me page */

.contact-about {
    list-style-type: none;
    text-decoration: none;
}

.fa-instagram {
    color: #ec22ac;
}

.contact-email {
    text-decoration: underline;
}

.contact-instagram,
.contact-facebook {
    text-decoration: none;
    list-style-type: none;
}

.contact-instagram a {
    color: #ec22ac;
}

.contact-facebook a {
    color: blue;
}

/* gallery */


.about-gallery {
    height: 300px;
    width: 300px;
}

.gallery img {
    padding-left: 20px;
    padding-top: 20px;
}

.gallery {
   width: 100%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   padding-left: 5%;
}

/* footer */

.footer {
    background-color: rgb(12, 25, 214);
    width: 100%;
    bottom: 0;
    height: 12%;
    
}

.footer li {
    list-style-type: none;
    display: inline;
    padding-left: 7px;
}

.fa-youtube {
    color: white
}

.fa-instagram {
    color: white;
}

.fa-facebook {
    color: white;
}

.site-owner {
    padding-bottom: 10px;
    padding-top: 10px;
}

.social-icons {
    margin: 0;
    padding: 0;
}
 /* pagination */

 .pagination {
    margin-bottom: 5%;
 }

 /* buttons */

 .btn-signup {
    background-color: rgb(12, 25, 214);
    color: white;
 }

 .submit {
    background-color: rgb(12, 25, 214);
    color: white;
 }
 .signup-btn {
    background-color: rgb(12, 25, 214);
    color: white;
 }

.btn-edit {
    background-color: green;
    color: white;
}

.btn-delete {
    background-color: red;
    color: white;
}